header{
    background-color: rgb(189, 28, 28);
    color: rgb(250, 250, 250);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
main{
    background-color: rgb(255, 255, 255);
    color: rgb(148, 24, 24);
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}
article{
    display: flex;
    margin-bottom: 20px;
}
p{
    font-weight: bold;
}
img{
    width: 200px;
    height: 180px;
    object-fit: cover;
    margin-right: 16px;
}
button {
    cursor: pointer;
}